# --- Dependencies ---
node_modules
/backend/node_modules
/frontend/node_modules

# Render Blueprint
render.yaml

# --- Environment Variables (ห้ามหลุดเด็ดขาด!) ---
.env
.env.*
!.env.example
docker-app/.env

# --- Build Outputs ---
dist
/frontend/dist
/backend/dist

# --- Logs & Storage (ที่เรา mount ออกมา) ---
/backend/logs
/backend/storage
/docker-app/logs
/docker-app/storage

*.log

# --- System ---
.DS_Store
Thumbs.db
.idea
.vscode

# --- database(docker) ---
/docker-app/postgres-data


