import { defineConfig, env } from "@prisma/config";
import * as dotenv from "dotenv";
import * as path from "path";

dotenv.config({ path: path.resolve(__dirname, ".env") });

console.log("Loaded DATABASE_URL:", process.env.DATABASE_URL ? "YES" : "NO");

export default defineConfig({
  schema: "prisma/schema.prisma",
  // migrations: {
  //   path: "prisma/migrations",
  // },
  // engine: "classic",
  datasource: {
    // provider: "postgresql", // ต้องระบุ provider ตรงนี้ด้วยในบางเวอร์ชัน หรือระบุใน schema
    url: env("DATABASE_URL"),
    directUrl: env("DIRECT_URL"), // ** สำคัญ: เพิ่มบรรทัดนี้เพื่อแก้ Error เดิม **
  },
});
